body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h{
  color: red;
}
header{
  text-align: center;
}
#featured-property{

  text-align: center;
}
#featured-property p{
  width: 800px;
}
#details {
  overflow: hidden;
  background: red;
   /* Clearfix for floated children */
}

#details div {
  float: left;
  width: 25%; 
  box-sizing: border-box; 
  padding: 10px; 
  text-align: center;
}
